<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>
<form th:method="POST" th:action="@{/auth/registration}" th:object="${user}">
    <label for="login">Username: </label>
    <input type="text" th:field="*{login}" id="login"/>
    <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Username Error</div>
    <br/>
    <label for="password">Password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    <br/>
    <label for="role">Role: </label>
    <select th:field="*{userRole.id}" id="role">
        <option th:each="role : ${roles}" th:value="${role.getId()}" th:text="${role.getName()}"></option>
    </select>
    <input type="submit" value="Create"/>
</form>
</body>
</html>