<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dish</title>
</head>
<body>
<p th:text="${dish.getName()}">VALUE</p>
<p th:text="${'Dish type: ' + dish.getDishType().getName()}">VALUE</p>
<p th:text="${'Size: ' + dish.getSize()}">VALUE</p>
<p th:text="${'Unit: ' + dish.getUnit().getName()}">VALUE</p>
<p th:text="${'Price: ' + #numbers.formatDecimal(dish.getPrice(),1,2)}">VALUE</p>
<p th:text="${'Ingredients: '}">VALUE</p>
<!--<p th:each="ingredient : ${dish.getIngredients()}" th:text="${ingredient.getName()}">VALUE</p>-->
<p>
<th:block th:each="ingredient,iterStat : ${dish.getIngredients()}">
    <span th:text="${ingredient.getName()} + ${!iterStat.last ? ',' : ''}">VALUE</span>
</th:block>
</p>

<a th:href="@{/dishes/{id}/edit(id=${dish.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/dishes/{id}(id=${dish.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>