<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit measure unit</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div style="padding: 20px">
    <form th:method="PATCH" th:action="@{/units/{id}(id=${unit.getId()})}" th:object="${unit}" style="width: 50%">
        <div class="mb-3">
            <label for="name" class="form-label">Measure unit name:</label>
            <input type="text" th:field="*{name}" class="form-control" id="name"/>
            <div style="color:red; font-size: small" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
                Error
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Update measure unit"/>
    </form>
</div>
</body>
</html>