<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All links</title>
</head>
<body>

<div><a href="cafes">Cafes</a></div>
<div sec:authorize="hasAnyRole('ADMIN', 'GLOBAL_MANAGER')">
<div><a href="dish-types">Dish types</a></div>
<div><a href="dishes">Dishes</a></div>
<div><a href="ingredients">Ingredients</a></div>
<div><a href="units">Units</a></div>
</div>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>