<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
        <link th:href="@{/bootstrap/css/bootstrap.min.css}" href="../static/bootstrap/css/bootstrap.min.css"
           rel="stylesheet" type="text/css"> <!-- 1st href for thymeleaf, 2nd - for intellij preview  -->
</head>
<body>
<div style="width:30%; padding: 20px">
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>
                <a href="cafes">Cafes</a>
            </td>
        </tr>
        <tr>
            <td sec:authorize="hasAnyRole('ADMIN', 'GLOBAL_MANAGER')">
                <a href="dish-types">Dish types</a>
            </td>
        </tr>
        <tr>
            <td sec:authorize="hasAnyRole('ADMIN', 'GLOBAL_MANAGER')">
                <a href="dishes">Dishes</a>
            </td>
        </tr>
        <tr>
            <td sec:authorize="hasAnyRole('ADMIN', 'GLOBAL_MANAGER')">
                <a href="ingredients">Ingredients</a>
            </td>
        </tr>
        <tr>
            <td sec:authorize="hasAnyRole('ADMIN', 'GLOBAL_MANAGER')">
                <a href="units">Measure Units</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="col-md-10 mx-auto col-lg-5">
        <form th:action="@{/logout}" th:method="POST">
            <button class="w-100 btn btn-m btn-primary" type="submit">Logout</button>
        </form>
    </div>
</div>
</body>
</html>