<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>All Cafes</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div style="padding: 20px">
    <div style="width:30%">
        <table class="table table-striped">
            <tbody>
            <tr th:each="cafe : ${cafes}">
                <td>
                    <a th:href="@{/cafes/{id}(id=${cafe.getId()})}"
                       th:text="${cafe.getName()}">cafe_name</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div sec:authorize="hasAnyRole('ADMIN', 'GLOBAL_MANAGER')" style="margin: auto 25%">
            <a href="/cafes/new" class="btn btn-primary" role="button">Add new cafe</a>
        </div>
    </div>
</div>
</body>
</html>