<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new cafe</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .chkboxes {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    </style>
</head>
<body>
<div style="padding: 20px">
    <form th:method="POST" th:action="@{/cafes}" th:object="${cafe}" style="width: 50%">
        <div class="mb-3">
            <label for="name" class="form-label">Cafe name:</label>
            <input type="text" class="form-control" th:field="*{name}" id="name"/>
            <div style="color:red; font-size: small" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                Name Error
            </div>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone number:</label>
            <input type="text" class="form-control" th:field="*{phone}" id="phone"/>
            <div style="color:red; font-size: small" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">
                Phone Error
            </div>
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Address:</label>
            <textarea th:field="*{address}" class="form-control" id="address" rows="3" cols="50"></textarea>
            <div style="color:red; font-size: small" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">
                Address Error
            </div>
        </div>
        <div class="mb-3">
            <label for="manager" class="form-label">Manager:</label>
            <select th:field="*{manager.id}" class="form-select" id="manager">
                <option th:each="manager : ${managers}" th:value="${manager.getId()}"
                        th:text="${manager.getLogin()}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="dishes" class="form-label">Dishes:</label>
            <div class="chkboxes">
                <th:block th:each="dish : ${dishes}">
                    <div>
                        <input type="checkbox" class="form-check-input" th:value="${dish.getId()}" th:field="*{dishes}"
                               id="dishes"/>
                        <label th:text="${dish.getName()}"></label>
                    </div>
                    <!--                <input type="checkbox" class="form-check-input"-->
                    <!--                       th:each="dish : ${dishes}"-->
                    <!--                       th:text="' '+${dish.getName()}+' '"-->
                    <!--                       th:value="${dish.getId()}"-->
                    <!--                       th:field="*{dishes}" id="dishes"/>-->
                </th:block>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Add cafe"/>
    </form>
</div>
</body>
</html>